.btn {
    border: none;
    width: 90px;
    border-radius: 4px;
    background-color: #52AFF1;
    padding: 9px 0;
    color: #FFFFFF;
    text-align: center;
}

.btn:not(:disabled) {
    cursor: pointer;
}

.btn_big {
    width: 170px;
    padding: calc(22px / 2);
    font-size: 20px;
    line-height: calc(23 / 20);
}

.btn_big:active, .btn_big:focus {
    outline: none;
}

.btn_invert-colors {
    background-color: #FFFFFF;
    color: #52AFF1;
}