.btn {
    border: none;
    width: 90px;
    border-radius: 4px;
    background-color: #52AFF1;
    height: 33px;
    color: #FFFFFF;
}

.btn:not(:disabled) {
    cursor: pointer;
}

.btn_big {
    width: 170px;
    height: 45px;
    font-size: 20px;
}

.btn_big:active, .btn_big:focus {
    outline: none;
}

.btn_invert-colors {
    background-color: #FFFFFF;
    color: #52AFF1;
}