.chat__message {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    size: 14px;
    line-height: 20px;
    color: #878787;
}

.chat__message_reverse {
    align-self: flex-end;
    flex-direction: row-reverse;
}

.chat__message-content {
    max-width: 581px;
    padding: 14px 13px 18px;
    background: #FFFFFF;
    border-radius: 5px;
    margin: 0 13px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
}

.chat__message-content_with-operation {
    padding: 15px 20px 20px;
    border: solid 1px #52aff1;
}

.chat__avatar {
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 41px;
    height: 41px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat__avatar img{
    border-radius: 50%;
    width: 39px;
    height: 39px;
}

.chat__message-author {
    color: #333333;
}

.chat__operation-title {
    font-size: 16px;
    line-height: 1.25;
    color: #262626;
    margin-bottom: 8px;
}