@font-face {
    font-family: SFUIDisplay;
    src: url('./fonts/SF-UI-Display-Medium.otf')
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 25px;
    font-family: Roboto, sans-serif;
    background: #333333;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.page {
    min-width: 422px;
    background: white;
    padding-bottom: 20px;
}

.page__content {
    padding: 20px 0;
}

.page__btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}