@font-face {
    font-family: SFUIDisplay;
    src: url('./fonts/SF-UI-Display-Medium.otf')
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 100px;
    font-family: Roboto, sans-serif;
    height: 100%;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}
